<div id="hero-image">
  <div>
    <p id="hero-content">
      hi
    </p>
  </div>
</div>

<div class="container">
  <div class="col-sm-4">
    <h1>Big Pic Here</h1>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
  </div>

  <div class="col-sm-4">
    <h1>Big Pic Here</h1>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
  </div>

  <div class="col-sm-4">
    <h1>Big Pic Here</h1>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
  </div>
</div>
