<div id="hero-image">

  <!-- <%= image_tag("sydney-opera-house.jpg") %> -->
  <div>
    <p id="hero-content">
      <%= button_to "Browse All Stores", root_path, class: "btn btn-default", id: "hero-btn" %>

    </p>
  </div>
</div>

<div class="container">
  <div class="col-sm-4">
    <h1>Big Pic Here</h1>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
  </div>

  <div class="col-sm-4">
    <h1>Big Pic Here</h1>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
  </div>

  <div class="col-sm-4">
    <h1>Big Pic Here</h1>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
    <div class="col-xs-4">
      Lil Pic Here
    </div>
  </div>
</div>
