<h1>Our Photographers</h1>

<div class="container">
  <ul id="list" class='row'>
    <% @vendors.each do |vendor| %>
    <div class="category col-md-5">
      <li><%= link_to "#{vendor.name}", vendor_items_path(slug: vendor.slug) %></li>
      <li><%= vendor.description %> </li>
    </div>
    <% end %>
  </ul>
  <div style="clear:both"> </div>
</div>
