<div class="container">
  <h1 class="page_title">Our Photographers</h1>
    <div class='row'>
      <% @vendors.each do |vendor| %>
      <div class="col-sm-6">
        <%= image_tag("glacier.jpeg") %>
        <h3><%= link_to "#{vendor.name}", vendor_items_path(slug: vendor.slug) %></h3>
        <p><%= vendor.description %> </p>
        <br>
      </div>
      <% end %>
    </div>
</div>
