/*Add media queries for background image*/

h1 {
  text-align: center;
  padding-bottom: 20px;
}

body {
  background-color: #000000 !important;
  padding: 0px !important;
}

.navbar {
  margin-bottom: 0px !important;
}
.container {
  border-radius: 25px;
}

.front-page {
  text-align: center;
}

.front-page-header span {
  font-size: .7em;
}

.items {
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  }

.item-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

button.glyphicon {
  font-size:12px !important;
}

.image-background {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #9c5619;
}

.logo-image-background {
  display: inline-block;
  width: 450px;
  height: 450px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#admin-buttons {
  text-align: center;
}

#category-table {
  text-align: center;
}

#checkout-item {
  padding: 20px;
}

#checkout-total {
  background-color: #d3d3d3;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
}

#hero-image {
  width: 100%;
  background-image: url(sydney-opera-house.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

#hero-content {
  width: 100%;
  margin: 0 auto;
  line-height: 30em;
}

.menu-image {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.menu-buttons {
  margin: 0 auto !important;
}

.retired-item {
  clear: all;
  color: red;
  font-weight: bold;
}

.order_id_title {
  font-size: 1.2em;
}

.orders_color_white {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.user_orders {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
}

/*#navbar-color {
  background-color: #9c5619;
  border-color:`` #9c5619;
}*/

/*vendor index*/

.container {
  border: 1px solid;
  border-color: red;

}

.category {
  border: 1px solid;
  border-color: purple;
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100px;
}

.category li {
  list-style-type: none;
  text-align: center;
}
